<div ng-app='clubCalendar'>				
	<div class="container">
	  <div class="row text-center">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
		  <h1>About me</h1>
		  <img style="border-radius: 50%;" src="css/alex.jpg" height="190" width="190"></img>
		  <p>My name is Alex Olivero, and I'm a computer engineering major at Michigan State University. Two of my biggest interests are soccer and programming.</p>
		  <p>You can e-mail me at olivero5@msu.edu or look at my <a href="https://www.linkedin.com/in/alex-olivero-345ab6109">linkedin</a>.</p>
		  <h1>About this site</h1>
		  <p>View the schedules of all teams in My Teams. First, select a league from the left list, then select your team from the right. 
				Remove a team by clicking on it in My Teams. To see more info about a match, click it within the calendar. Toggle the list of leagues and teams
				by clicking on the list header button.</p>
		  <p>Club Calendar was made with HTML, CSS, PHP, AngularJS, and Bootstrap. All data provided by api.football-data.org, thanks to Daniel Freitag.
				As soon as his data is updated, you'll see it here.</p>
		  <p>The goal of this website was to improve my API and web development skills and to get experience launching a website from scratch.</p>
		  <p>If this website is at all useful to you, that would make me really happy.</p>
		</div>
		<div class="col-sm-4"></div>
	  </div>
	</div>	
</div>